<section>
    <form [formGroup]="loginform"
    (ngSubmit)="onLogin()">
        <ul>
            <li>
                <label for="username"> Username </label>
                <input type="text" id="username" name="username" formControlName="username">
            </li>
            <li>
                <label for="passwrod"> Password</label>
                <input type="password" id="password" name="password" formControlName="password">
            </li>
        </ul>
        <button type="submit" [disabled]="!loginform.valid" (click)="onLogin()"> Login </button>
    </form>
</section>
